/* #calendar .day .consultation-list {} */

#calendar tbody tr td {
    width: 14.285714285714285714285714285714%;
}

#calendar tr td {
    box-shadow: var(--calendar-shadow);
}

#calendar {
    border-collapse: separate; /* Umożliwia zaokrąglenie rogów */
    border-radius: 10px; /* Zaokrąglone rogi */
    overflow: hidden; /* Ukrywa nadmiar treści poza zaokrąglonymi rogami */
}

#calendar thead tr:first-child th:first-child {
    border-top-left-radius: 10px; /* Lewy górny róg */
}

#calendar thead tr:first-child th:last-child {
    border-top-right-radius: 10px; /* Prawy górny róg */
}

#calendar tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Lewy dolny róg */
}

#calendar tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Prawy dolny róg */
}

.table>:not(caption)>*>* {
    background-color: var(--background);
}

#calendar .day-month {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25px;
}
#calendar .day-month span {
    font-size: 14px;
}
#calendar .day-month .day {
    position: absolute;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    text-align: center;
    box-shadow: var(--calendar-day-number-shadow);
}
#calendar .day-month .day.active {
    background-color: #3b933f;
    color: #fff;
    font-weight: 500;
}
#calendar .plate-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
}

#calendar .plate-list .value {
    display: flex;
    flex-direction: column;
}

#calendar .plate-list .plate {
    display: flex;
    flex-direction: column;
    border-left: solid 4px transparent;
    padding: 5px 10px;
    line-height: 12px;
    cursor: pointer;
    box-shadow: var(--shadow);
}
#calendar .plate-list .plate.my-consultation {
    background-color: rgba(0,0,0,0.1);
}
#calendar .plate-list .plate .time {
    font-weight: 600;
}
#calendar .plate-list .plate.green {
    border-color: #3b933f;
}
#calendar .plate-list .plate.yellow {
    border-color: #d8d402;
}
#calendar .plate-list .plate.red {
    border-color: #ff0000;
}
#calendar .plate-list .plate.blue {
    border-color: #00a2ff;
}
#calendar .plate-list .plate.purple {
    border-color: #a200ff;
}
#calendar .plate-list .plate.turquoise {
    border-color: #497E76;
}
#calendar .plate-list .plate.orange {
    border-color: #FFA500;
}
#calendar .plate-list .plate.brown {
    border-color: #A52A2A;
}
#calendar .plate-list .plate.pink {
    border-color: #FFC0CB;
}
#calendar .plate-list .plate.sea-blue {
    border-color: #256D7B;
}

#calendar tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
    
#calendar tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}