/* 

    Project Name: ZS 14 - Konsultacje
    Author: Tomasz Magiera (https://tomcio.space)
    Start Date: 22.05.2024


    Contributors:
        - Tomasz Magiera (https://github.com/tomci0)



    Description:

        - Jeśli edytujesz ten plik, dodaj swój wpis powyżej.
        - Projekt ma na celu stworzenie systemu do zarządzania konsultacjami w szkole.
        - Jest to projekt open-source, więc każdy może pomóc w jego rozwoju.

        - Proszę opisywać zmiany, które wprowadzasz w projekcie.
        - Proszę opisywać nowe rzezy, które dodajesz do projektu.

*/


/* 

    FONTS

*/


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



* {
    font-family: "Roboto", sans-serif;
    user-select: none;
}

/* 

    BODY CSS

*/

body {
    display: flex;
    flex-direction: column;
    color: var(--text-secondary);
    transition: 0.2s;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    min-height: 100vh;
    position: relative;


    background: var(--body-background);
    background-size: cover; /* Skaluje obraz, aby w pełni zakryć obszar */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
    background-attachment: fixed; /* Sprawia, że obraz jest stały przy przewijaniu */
    background-position: center; /* Centruje obraz */
}

/* site background */

/* body::after {
    content: "";
    background: var(--body-background);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    max-width: 100vw;
  } */

/* border top class */

.border-top {
    border-top: var(--border-top) !important;
}

/* 

    DROPDOWN CSS

*/


/* 

    NAVBAR CSS

*/

/* 

    NAVBAR CONTAINER

    #navbar
        #logo
            a
                img

        #navigation
            .nav
                .nav-link
                    a

        #user

*/


/* header = main section in navbar container */

#navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0.75rem;

    background-color: var(--background);
    border-radius: var(--header-border-radius);
    box-shadow: var(--shadow);
}

/* img in navbar */

#navbar #logo {
    width: 20%;
}

#navbar #logo img {
    width: 40px;
    height: 40px;

    box-shadow: var(--navbar-image-shadow);
}

/* 
    NAVIGATION
*/

/* default btn in navigation */

#navigation .nav-link {
    color: var(--text-color) !important;

    box-shadow: var(--navigation-button-shadow);
}

/* active btn in navigation */

#navigation .nav-link.active {
    color: var(--text-color);
    background-color: var(--nav-link-active-background);
}

/* not active btn in navigation */

#navigation .nav-link:not(.active) {
    background-color: var(--nav-btn-color);
}

/* on hover btn in navigation */

#navigation .nav-link:hover {
    background-color: var(--nav-link-active-background);
    color: var(--text-color) !important;
}


#navigation .nav {
    display: flex;
    gap: 1em;
}

/* 
    MOBILE NAVIGATION 
*/

#navigation-mobile {
    display: none;
}

#navbar-mobile-dropdown {
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    order: 3;

    background-color: var(--background);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    color: var(--text-color);

    font-weight: 300;
}

#navbar-mobile-dropdown .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#navbar-mobile-dropdown .nav-item {
    width: 100%;

    display: flex;
    justify-content: center;
}

#navbar-mobile-dropdown .divdiver {
    width: 100%;
}

#navbar-mobile-dropdown .nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    background-color: var(--collapse-background);

    border: 2px solid var(--text-secondary);

    border-radius: var(--border-radius);
    padding: 0.5rem;
}

#navbar-mobile-dropdown .nav-item.active .nav-link {
    background-color: var(--theme-color);
    color: var(--collapse-text-color);
}

#navbar-mobile-dropdown .nav-link .icon {
    font-size: 1.1em;
}

#navbar-mobile-dropdown .nav-link .name {
    font-size: 0.9em;
    font-weight: 300;
}

#dropdownMenuButton1 {
    font-size: 1.5rem;
}

/* 
    USER
*/

#navbar #user {
    display: flex;
    width: 20%;

    display: flex;
    justify-content: center;
}

#navbar #user #theme-toggle {
    color: var(--text-color);
    font-size: 1.0em;
    transition: 0.2s;
}

#navbar #user #theme-toggle:hover {
    color: var(--text-hover);
}

/* user-data dropdown main */

#navbar #user #user-data {
    text-decoration: none;
}

/* user-data image */

#navbar #user #user-data #image img {
    width: 32px;
    height: 32px;
    box-shadow: var(--user-image-shadow);
    margin-right: 0.25rem;
}

/* user-data name */

#navbar #user #user-data #name {
    color: var(--text-color);

    font-weight: 300;
    font-size: 0.9em;
    transition: 0.2s;
}

#navbar #user #user-data #name:hover {
    color: var(--text-hover);
}

/* custom css for dropdown */

.dropdown-menu {
    color: var(--text-color);
    background-color: var(--dropdown-background);
    border: 2px solid #4a4949;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    backdrop-filter: blur(10px);

    padding: 0;
    margin: 0;

    overflow: hidden;
}

.dropdown-menu .dropdown-item {
    padding: 0.25rem 1rem;
    width: 100%;
    font-size: 0.9em;
    font-weight: 400;
    transition: 0.2s;

    display: flex;
    align-items: center;

    gap: 0.5em;
}

/* dropdovn item on hover */

.dropdown-menu .dropdown-item:hover {
    color: var(--text-color);
    background-color: var(--theme-color);
}

.dropdown-menu .dropdown-item .icon {
    font-size: 1.1em;
}

.dropdown-menu .dropdown-item .name {
    font-size: 0.9em;
    font-weight: 300;
}

/* dropdown divdiver */

.divdiver {
    display: flex;
    justify-content: center;
}

.divdiver hr {
    color: var(--text-color);
    background-color: var(--divdiver-color);
    height: 1px;
    width: 80%;
    margin: 0.40rem;
    opacity: 0.5;
}

/* 
    TOOLTIP
*/

.tooltip-arrow {
    color: var(--text-hover)
}

.tooltip-inner {
    box-shadow: var(--tooltip-shadow);
    border-radius: 6px;
    backdrop-filter: blur(10px);
    background-color: var(--tooltip-background);
    color: var(--text-color);
    font-size: 0.8rem;

    padding: 0.25rem 0.75rem;
}

/*
    USER COLLAPSE MOBILE
*/

#navbar-mobile-dropdown .nav-item #login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    margin-top: 0.5rem;
    width: 100%;

    color: #DB4437;

}

#navbar-mobile-dropdown #login-btn .text {
    font-weight: 300;
    font-size: 12px;
}

#navbar-mobile-dropdown #login-btn .iconify {
    font-size: 1.4em;
}

/* user doropdown */

#navbar-mobile-dropdown #user-data {
    text-decoration: none;
}

/* user-data image */

#navbar-mobile-dropdown #user-data #image img {
    width: 24px;
    height: 24px;
    box-shadow: var(--user-image-shadow);
    margin-right: 0.25rem;
}

/* user-data name */

#navbar-mobile-dropdown #user-data #name {
    color: var(--text-color);

    font-weight: 300;
    font-size: 0.9em;
    transition: 0.2s;
}

#navbar-mobile-dropdown #user-data #name:hover {
    color: var(--text-hover);
}

/* 

    FOOTER

*/

/* main footer container */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    padding-top: 0.75rem;
}

/* footer text element */

#footer-text {
    color: var(--footer-color);
    box-shadow: 0 0 20px rgba(19,19,19,0.3);
    border-radius: var(--footer-border-radius);
    box-shadow: var(--shadow);
    padding: 0.75rem;
    backdrop-filter: blur(10px);
}

/* custom link style */

a.link {
    color: var(--footer-color);
    text-decoration: none;
    transition: .2s;
    font-weight: 300;
}

a.link:hover {
    color: var(--text-hover);
}







/* 

    OTHER NO DESCRIBED CSS

*/



/* DROPDOWN */




/* 

    PAGE CONTENT 
    
*/

/* main content div */

#content {
    color: var(--text-color);
}

/* card for all elements on page */

#content #card {
    background-color: var(--background);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 15px;
}

/* title page text */

#content #page-title {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--title-background);
}

/* title page icon */

#content #page-title .icon {
    font-size: 2.4em;
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.5));
    color: var(--title-color);
}

/* title page text */

#content #page-title .title {
    font-size: 1.4em;
    font-weight: 500;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 0.5);
    color: var(--title-color);
}

/* 

    OTHER

*/

/* .dropdown-menu {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
}
.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
} */

