

/* 

    NAVBAR

*/

@media screen and (max-width: 768px) {
    #navbar #navigation {
        display: none;
    }

    #navbar #logo  {
        width: 0;
    }

    #navbar #user {
        margin-left: 0.25rem;
    }

    #navbar #navigation-mobile {
        display: flex;
    }
}